<mat-toolbar color="warn">
  <mat-toolbar-row>
    <h2>Pics Generator</h2>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-raised-button color="accent" (click)="generatePics()">Update</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-form-field>
      <input matInput placeholder="Please enter a key" value="" [(ngModel)]="searchField">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="searchPics()">Search</button>
    <mat-divider [vertical]="true"></mat-divider>
    <button mat-raised-button color="accent" (click)="showAllPics()">Show all</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div fxFlex="100">
      <mat-radio-group [(ngModel)]="greyScaleEnable" (change)="changePicsVisual()">
        <mat-radio-button [value]="false">None</mat-radio-button>
        <mat-radio-button [value]="true">Greyscale</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
  <div *ngIf="isLoading" fxFlex="100%">
    <mat-spinner></mat-spinner>
  </div>
  <div class="pic_col" fxFlex.lg="0 1 calc(25% - 32px)" fxFlex.sm="0 1 calc(50% - 32px)" *ngFor=" let pic of pics">
    <app-pic [picture]="pic"></app-pic>
  </div>
</div>
